

body {
margin: 0;
background-color: #fcfcfc;
font-family: 'Helvetica Neue', Arial, sans-serif;
color: #2c3e50;
}

header {
background-color: #0077B6;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}

nav a {
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

nav a:hover {
    color: #ff8c42;
}